body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    /* background-color: aquamarine; */
}

.header .logo {
    display: flex;
    align-items: center;
    margin-left: 44px;
}

.logo h1 {
    font-size: 20px;
}

.menu {
    display: flex;
    gap: 30px;
    font-size: 15px;
    margin-right: 45px;
    margin-top: 5px;
}

.menu li a {
    padding: 11px 7px 11px 6px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: #5bc241;
    color: #fff;
    cursor: pointer;
}

.menu a.btn {
    padding: 10px 21px 11px 21px;
    border-radius: 10px;
    background-color: #5bc241;
    color: #fff;
}

/* @media (max-width: 769px){ */
@media (max-width: 840px){
    .menu {
        gap: 15px;
        margin-right: 20px;

    }

    .header .logo {
        margin-left: 24px;
    }

    .menu li a {
        padding: 6px;
    }

    .menu a.btn {
        padding: 6px;
    }
}

@media (max-width: 650px){
    .header {
        flex-direction: column;
    }
    
    .menu {
        margin-top: 1em;
        /* gap: 3px; */
    }
    
}


@media (max-width: 485px){
    .header {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        margin-top: 100px;
        margin-right: 0;
        align-items: center;
        gap: 50px;
    }

    .menu li a {
        font-size: 40px;
        padding: 17px 38px 17px 41px;
        margin-bottom: 50px;
    }

    .menu a.btn {
        font-size: 18px;
        padding: 15px 22px 15px 23px;
    }
}